@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    background-color: #1f2937;
    padding: 1em 13em;
} 

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;

}

.second-container {
    margin: 8em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.second-container .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-container .right {
    flex-shrink: 0;
    width: 50%;
}
.left h1 {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}
 .left p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
 }


 .placeholder {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
 }

 .sign-up {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px; 
 }

 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.center-text h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.square p {
    font-size: 36px;
    font-weight: 100;
    color: grey
}

/* quote container */

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 7em 13em;
    flex-wrap: wrap;
}
.quote-container p {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}
.quote-container h6 {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.text-container h6 {
    font-size: 24px;
    color: #FFF;
    align-items: flex-start;

}

.text-container p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.sign-up-footer {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px; 
    border: 2px solid #FFF;
}

/* FOOTER FOOTER*/
.copy-right {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
